@charset "utf-8";
/* CSS Document */

html, body {
	margin:0 auto;
	font-size: 14px;
	height: 100%;
   font-family: 'Roboto', sans-serif;
    color:#fff;
}

.bg{

	overflow: hidden;
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
	background-image:url(img/bg.jpg);
	width: 100%;
	height: 100%;
	min-height: 550px;
	text-align: center;	
    box-sizing: border-box;    
}

.center{        
    max-width: 758px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 1em;
    padding-right: 1em;
    overflow: hidden;
}

.presentation{
	float: left;
	border-right: 2px solid #fff;
	text-align: left;
	width: 50%;
	box-sizing: border-box;
	padding-right: 35px;
	height: auto;
	min-height: 500px;
	
	/*background-color: rgba(16,102,153,0.7);*/
	
}

.contentDown{	
	margin: 0 auto;
	float: right;
	width:50%;
	box-sizing:border-box;
	padding-left: 35px;
	height: 500px;
	    padding-top: 50px;
	/*background-color: rgba(16,102,153,0.7);*/
	max-height: 400px;
}

.descriptionPresentacion{
	text-align: left;
	line-height: 25px;
    font-size: 16px;

}

.linkdescriptionsDown, .LinkMailto{
	font-size: 16px;
	color:#fff;
	font-weight: 400;
	text-decoration: none;	
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: solid 2px transparent;
    padding-bottom: 5px;
}

.LinkMailto{
	font-size: 12px;
	font-weight: 500;
}


.linkdescriptionsDown:hover, .LinkMailto:hover{
	 text-decoration: none;   
     border-bottom: solid 1px #fff;
     padding-bottom: 2px;
     
	}

.LinkMailto:hover{
	border-bottom: solid 1px #fff;
	
}

.linkdescriptionsDownPay{
	font-size: 16px;
	padding: 10px 52px;
	border: 1px solid #fff;
	text-decoration: none;
	font-weight: 600;
	color:#fff;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.linkdescriptionsDownPay:hover{
	background-color: #fff;
	color:#000;
}

.imgDown{
	width: 25px;
	vertical-align: middle;
	padding-right: 10px;
}

.principalTitle{
	font-size: 50px;
	color:#fff;
	text-align: center;
}

.titleComoFunciona{
	font-weight: 700;
	font-size: 18px;
	text-align: left;
	margin-top: 80px;
	margin-bottom: 30px;

}


.iconsDown, .iconsDownPay{
	display: block;	
	text-align: left;
}

.iconsDown{margin-bottom: 15px;}

.iconsDownPay{
	margin-bottom: 50px;
	margin-top: 50px;
}

ol{
	margin-left: 0;
    padding-right: 0;
    list-style-type: none;
    padding-left: 0;
}

.listSteps{
	text-align: left;
	font-size: 16px;
	    margin-bottom: 40px;
	counter-increment: step-counter;	
}

.listSteps:before{
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 3px 9px;
    border: 1px solid #fff;
    border-radius: 16px;
}

.imgCatalog{
	width: 100%;
}

.imgDispositives{
	width: 50%;
}

.contactCanals{
	clear: both;
	padding-top: 20px;
	font-size: 12px;
}

.responsive{
	text-align: center;
	margin: 0 auto;
	max-width: 1024px;
}

.imgResponsive:nth-child(2){
		margin-right: 22px;
	}
footer{
	background-color: #000;
	padding: 35px 1em;	
	text-align: center;
}

footer p{
	margin: 0;
}


/*FOMRS ESTILOS----------------------------*/

.sentEamil{
	background-color: #ececec;
	border-top: 3px solid #90671f;
    border-bottom: 3px solid #90671f;
}

.contract{
	background-color: #015c93;	
    border-bottom: 3px solid #607791;
}

.pay{
	background-color: #4e8eb4;	
    border-bottom: 3px solid #607791;
}


.contentForm, .contentContract, .contentPay{
	max-width: 586px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 2em;
    padding-right: 2em;
}

.contentContract, .contentPay{
	text-align: center;
}

 	.contentForm:before{
    content: "1";
    margin-right: 5px;
    font-size: 57px;
    color: #345280;
    font-weight: bold;
    padding: 4px 21px;
    border: 2px solid #345280;
    border-radius: 40px;
    position: relative;
    top: -23px;
    margin-bottom: 44px;
}

.contentContract:before{
	content: "2";
    margin-right: 5px;
    font-size: 57px;
    color: #FFF;
    font-weight: bold;
    padding: 4px 21px;
    border: 2px solid #fff;
    border-radius: 40px;
    position: relative;
    top: -23px;
    margin-bottom: 44px;
}

.contentPay:before{
	content: "3";
    margin-right: 5px;
    font-size: 57px;
    color: #fff;
    font-weight: bold;
    padding: 4px 21px;
    border: 2px solid #fff;
    border-radius: 40px;
    position: relative;
    top: -23px;
    margin-bottom: 44px;
}

.contentinputs{
	display: inline-block;
	width: 49%;
	box-sizing:border-box;
}

span.error {
	color: #DB2020;
	display: none;
	font-size: 12px;

}

input.error {
	border: 2px solid #DB2020;
}

.newsTextArea{
	width: 100%;
	height: 35px;
	margin-bottom: 30px;
	margin-right: 10px;
	box-sizing:border-box;
	padding: 5px;
	border: 1px solid #b2b3b4;
	background-color: #fff;
}

.btnForm{
	font-size: 16px;
	padding: 10px 52px;
	border: 1px solid #898686;
	text-decoration: none;
	font-weight: 600;
	color:#898686;
	cursor: pointer;
	display: inline-block;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btnForm:hover{
	border: 1px solid #1b4b8d;
	color:#1b4b8d;
	background-color: #fff;
	 -webkit-box-shadow: 0px 0px 17px -2px rgba(163,163,78,1);
-moz-box-shadow: 0px 0px 17px -2px rgba(163,163,78,1);
box-shadow: 0px 0px 17px -2px rgba(163,163,78,1);
}

.titleForm, .titleContract, .titlePay{
	color:#1b4b8d;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
	border-bottom: 1px solid #b2b3b4;
	padding-bottom: 7px;
}

.titleContract{
	color:#fff;
}

.titlePay{
	color:#fff;
}

.titleForm:first-child{
	margin-top: 0px;

}

.dirreccion{
	width: 69%;
}

.codPost{
	width: 29%;
}

/*
.caducityDate{
	width: 60px;
}
*/

textarea:focus, input:focus{
    outline: none;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(163,163,78,1);
-moz-box-shadow: 0px 0px 10px -2px rgba(163,163,78,1);
box-shadow: 0px 0px 10px -2px rgba(163,163,78,1);
}

 input:-webkit-autofill,  textarea:-webkit-autofill,  select:-webkit-autofill{
		background-color: transparent !important;
		 -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
		 	 
	}
label{
	display: block;
	color:#000;
	margin-bottom: 10px;
}


/*FOMRS ESTILOS----------------------------*/

@media screen and (max-width: 602px) {

	.bg{
		height: auto;
	}

	.presentation, .contentDown{
		float: none;
		width: 100%;
		text-align: center;
		padding-top: 0px;
		
	}
	.presentation{
		padding-right: 0px;
		border-right: 0px;
		padding-top: 0px;
		border-bottom: 1px solid #fff;
		padding-bottom: 25px;
	}

	.contentDown{
		padding-left: 0px;
		max-height: initial;
		height: auto;
    	margin-top: 30px;
	}

	.iconsDown, .iconsDownPay, .align{
		text-align: center;
	}

	.principalTitle{
		    font-size: 35px;
	}
	
	.imgDown{
		display: block;		
		margin: 0 auto;
		margin-bottom: 15px;
	}

	.iconsDown{
		margin-bottom: 45px;
	}

	.imgResponsive{		
		display: block;
		margin: 0 auto;
		margin-bottom: 25px;
	}

	.imgResponsive:nth-child(2){
		margin-right: auto;
	}

	.imac{
		width: 250px;
	}

	.ipad{
		width: 133px;
	}

	.iphone{
		width: 71px;
	}

	.titleComoFunciona{
		text-align: center;
	}

	.listSteps{
		text-align: center;
	}

}

@media screen and (max-width: 480px) {
	.contentinputs{
		width: 100%;
	}
}


@media screen and (max-height: 725px) {

	.bg{
		height: auto;
	}

}


