@charset "utf-8";
/* CSS Document */

/*estilos como funciona*/

html, body {
	margin:0 auto;	
	height: 100%;
    font-family: 'Roboto', sans-serif;       
}

.bg{

	overflow: hidden;
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
	background-image:url(../img/bg.jpg);
	width: 100%;
	height: auto;
	min-height: 100%;
	text-align: center;	
    box-sizing: border-box;       
}

.principalTitle{
	font-size: 50px;
	color:#fff;
	text-align: center;
}


.textVgm{
    font-size: 35px;
}

.contentPresentation{
	margin: 0 auto;
	overflow: auto;
	max-width: 1000px;
	padding-left: 1em;
    padding-right: 1em;
}

.presentationTitle{
	font-size: 50px;
	color:#fff;
	text-align: left;
	padding-left: 53px;
}

.presentation{
	float: right;
	max-width: 500px;
	width: 50%;
}

.presentationImg{
	float: left;
	max-width: 500px;
	width: 50%;
}

.presentationImg img{
	width: 100%;
}

p{
	line-height: 15px;
}

.StepsUp{	
	background-color: #0d5c91;
	max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: -54px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border: 1px solid #656262;
    color: #fff;
    font-size: 12px;    
    -webkit-box-shadow: 0px -8px 34px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -8px 34px -7px rgba(0,0,0,0.75);
box-shadow: 0px -8px 34px -7px rgba(0,0,0,0.75);
}

.contentStepswidth{
	max-width: 1200px;
	margin: 0 auto;
}

.whatIs{
	max-width: 450px;
	margin: 0 auto;
	padding-top: 50px;   
}

.step1, .step2, .step3, .step4{
	display: inline-block;
	width: 40%;	
}

.descriptionsSteps{
	text-align: left;
	padding-left: 60px;
}

.step2, .step4{

	margin-left: 7%;
}

.step1:before, .step2:before, .step3:before, .step4:before {   
    margin-right: 5px;
    font-size: 46px;
    color: #fff;
    font-weight: bold;
    padding: 6px 21px;
    border: 2px solid #fff;
    border-radius: 40px;
    position: relative;    
    top: 67px;   
    z-index: 1;
    background: #8b7e11
}

.step1:before{
	content: "1";
	 left: -49%;
}

.step2:before {
    content: "2";
     left: -49%;   
}

.step3:before {
    content: "3";
     left: -49%;   
}

.step4:before {
    content: "4";
     left: -49%;   
}

.footerWhy{
	background-color: #000;
	padding: 35px 1em;	
	text-align: center;
}

.footerWhy p{
    color:#fff;
	margin: 0;
    font-size: 12px;
}

.LinkMailto{
	font-size: 12px;
	font-weight: 500;	
	color:#fff;	
	text-decoration: none;	
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: solid 2px transparent;
    padding-bottom: 5px;
}

.LinkMailto:hover{
	 text-decoration: none;   
     border-bottom: solid 1px #fff;
     padding-bottom: 2px;
     
	}

.linkManual{
	width: 178px;
	font-size: 20px;
	color:#fff;
	text-align: center;
	margin: 0 auto;	
	margin-right: 50px;
}

.imgSteps{
	border: 5px solid #fff;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    
    width: 100%;
    cursor: pointer;

}

.imgSteps:hover{    
    -webkit-box-shadow: 0px 0px 97px -18px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 97px -18px rgba(255,255,255,1);
box-shadow: 0px 0px 97px -18px rgba(255,255,255,1);

}

/*.btnReturn{
    color:#fff;
    padding: 19px 5px;
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50px;
    position: absolute;
    right:22px;
    bottom: 5px;
    font-weight: bold;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    
    }
    
    .btnReturn:hover{
        background: #000;
        -webkit-box-shadow: 0px 0px 30px -2px rgba(163,163,78,1);
-moz-box-shadow: 0px 0px 30px -2px rgba(163,163,78,1);
box-shadow: 0px 0px 30px -2px rgba(163,163,78,1);
    }*/

@media (max-width: 1246px){

	.StepsUp{
		margin-left: 1em;
    margin-right: 1em;
	}

}


@media (max-width: 901px){
	
	.step1, .step2, .step3, .step4{
		display: block;
		margin: 0 auto;
		width: auto;
		max-width: 450px;
		padding-top: 40px;		
	}

	.contentStepswidth{
		padding-left: 10%;
	    padding-right: 10%;
	}
	
	.step1:before, .step2:before, .step3:before, .step4:before{
		position: initial;
	}

	.descriptionsSteps, .descriptionsStepsRight{
		padding-left: 15px;
	}

	.step1 ul, .step3 ul, .step2 ul, .step4 ul{

		padding-left: 41px

	}

	.step2 ul, .step4 ul{
		padding-right: 0px;
	}

}

    


@media (max-width: 902px){
	
	.presentationTitle{
		font-size: 44px;
		
	}

}

@media (max-width: 837px){
	
	.presentationTitle{
		margin-top: 0;
        padding-left: 18px;           
	}

}

@media (max-width: 749px){
	
	.presentation, .presentationImg{
		float: none;
		margin: 0 auto;
		width: 100%;
		margin-top: 23px;
		
	}

	.presentationTitle{
		padding-left: 0;
		font-size: 40px;
		text-align: center;
		margin-bottom: 20px;
	}

	.linkManual{	
	margin-right: 0;
	margin-bottom: 20px;
}
	
}